

.history-chart {
    .category-title {
        font-weight: bold;
        
        padding-bottom: 0.2em;
    }

    .data-section {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

}
