@import "../main";

.radio-buttons {        
   
    padding: 0.3em;

    display: inline-block;

    .item {
        cursor: pointer;
        vertical-align: middle;

        .btbl {
            display: table;
            line-height: 1;

            .left {
                display: table-cell;
                vertical-align: middle;
            }

            .right {
                display: table-cell;
                vertical-align: middle;

                padding-left: 0.5em;
            }
        }

        .r-btn {
            display: inline-block;

            width: 14px;
            height: 14px;

            border: 2px solid $controls-border-color;

            border-radius: 50%;

            position: relative;

            .inner {
                display: inline-block;

                position: absolute;
                top: 2px;
                left: 2px;

                width: 10px;
                height: 10px;

                border-radius: 50%;
            }
        }
    }

    .selected {
        .inner {
            background-color: $controls-border-color;
        }
    }

    .active {
        .r-btn {
            border-color: $standard-focus;
        }
    }

    &.form-focusable {
        border: 1px solid transparent;

        &:focus {
            outline: none;
            border: 1px solid $standard-focus;
        }
    }

    &.vertical {
        .line-wrap {
            display: inline-block;
        }
    }

    &.horizontal {
        .line-wrap {
            display: inline;
        }

        .item {
            display: inline-block;
            padding-right: 1em;
        }
    }
}
