

.real-time-chart {

    .instruments-cont {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .chart-cont {
        width: 100%; 
        height: 100%;     
    }

 
    // width: 100%; 
    // height: 100%;        
}